#loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading > div {
  width: 50%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3d3d3;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
