@media (min-width: 1025px) {
  #header-container {
    max-width: 1320px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  #logo {
    margin-left: 16px;
  }
}


@media (min-width: 320px) and (max-width: 412px) {
  #description {
    display: none;
  }

  #logo {
    flex: 1;
  }
}

#header-container {
  margin: auto;
  flex-direction: row;
  align-items: center;
  display: flex;
  height: 56px;
}

#logo {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: white;
}

#header {
  background-color: #121212;
}

#description {
  flex: 1;
  text-align: center;
}

#description, #description a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Roboto';
  color: #d3d3d3;
}

#description a {
  border-bottom: 1px solid #d3d3d3;
}

