@media (min-width: 1025px) {
  #header-container {
    max-width: 1320px;
  }
}

#header-container {
    margin: auto;
    flex-direction: row;
    align-items: center;
    display: flex;
    height: 56px;
}

#logo {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: white;
}

#header {
    background-color: #121212;
}

#provider {
    font-family: 'Roboto';
    font-weight: 500;
    color: #d3d3d3;
    margin-left: 16px;
    flex: 1;
    text-align: right;
    margin-right: 16px;
    margin-top:5px;
}

#provider .caret {
    margin-left: 4px;
}
