@media (min-width: 1025px) {
  #navbar {
    margin: auto;
    max-width: 1320px;
  }
}


#navbar {
    height: 32px;
    display: flex;
    background-color: #F9D248;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#period {
  font-family: 'Roboto';
  font-weight: 500;
  color: #121212;
  margin-left: 16px;
}

#period .caret {
  margin-left: 4px;
}

#region {
  color: #121212;
  margin-right: 16px;
  cursor: pointer;
  position: relative;
}

#region .region {
  font-family: 'Roboto';
}

#region .region img {
  width: 16px;
}

#region .caret {
  margin-left: 4px;
}

.selected-period a {
  color: #121212;
}

#region .popover {
  position: absolute;
  background-color: #232323;
  font-size: 28px;
  width: 120px;
  top: 24px;
  right: 0px;
}

#region .popover li {
  border-bottom: 1px solid #333;
  padding: 8px;
}

#region .popover li:hover {
  background-color: #282828;
}

#region .popover li a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#region .popover .language-name {
  font-size: 12px;
  color: #d3d3d3;
  font-family: 'Roboto';
  font-weight: 500;
}
