@media (min-width: 1025px) {
  #navbar {
    margin: auto;
    max-width: 1320px;
  }
}


#navbar {
    height: 32px;
    display: flex;
    background-color: #F9D248;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#period {
  font-family: 'Roboto';
  font-weight: 500;
  color: #121212;
  margin-left: 16px;
}

#period .caret {
  margin-left: 4px;
}

#region {
  color: #121212;
  margin-right: 16px;
  cursor: pointer;
}

#region .region img {
  width: 16px;
}

#region .caret {
  margin-left: 4px;
}

.selected-period a {
  color: #121212;
}
